<app-header textHeader="Futuros"></app-header>

<div class="container mt-n1">
  <div class="row border-bottom border-1 align-items-center" style="height: 85px" *ngFor="let futuro of futuros" (click)="navigateDetalhe(futuro.id)">

    <!-- Time 1 -->
    <div class="col col-md-5 text-center">
      <div class="row">
        <div class="col-12">
            <img width="35px" src="{{futuro.timeCasa.foto}}">
          <h6 class="small mb-0">{{futuro.timeCasa.name}}</h6>
        </div>
      </div>
    </div>

    <!-- Jogo INFO-->
    <div class="col text-center ">
      <div class="">
        <img width="60px" height="60px" src="{{futuro.jogoTabela.foto}}">
      </div>
    </div>

    <!-- Time 2-->
    <div class="col col-lg-5 text-center">
      <div class="row">
        <div class="col-12">
            <img width="35px" src="{{futuro.timeFora.foto}}">
          <h6 class="small mb-0">{{futuro.timeFora.name}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
